<ul class="epic-list">
	<li class="header">Recent Activity</li>
	{% for feedItem in feed %}
		<li class="ellipsis">
			<span class="pull-left sprite sprite-{{ feedItem.type }}" title="{{ feedItem.type }}"></span>
			<p class="ellipsis">
				{% if feedItem.owner.url is not null %}
					<strong><a href="{{ feedItem.owner.url }}" target="_blank">{{ feedItem.owner.name }}</a></strong>
				{% else %}
					{{ feedItem.owner.name }}
				{% endif %}
				{{ feedItem.content.message }} <a href="{{ feedItem.content.url }}" target="_blank">{{ feedItem.content.subject }}</a>
			</p>
			<p>{{ feedItem.timestamp }}</p>
		</li>
	{% endfor %}
</ul>
