<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		{% block head %}

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block head_meta %}{% endblock %}

		<title>
			{% block head_title %}

				{{ pageTitle }} | {{ constant('SITE_NAME') }}

			{% endblock %}
		</title>

		{# Include Stylesheets #}
		<link rel="stylesheet" href="{{ asset('static/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('static/css/style.min.css') }}">
		{% block head_css %}{% endblock %}

		{# Google Analytics Code #}
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-35279508-3']);
			_gaq.push(['_setDomainName', 'elliot-wright.net']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>

		{# Typekit Code #}
		<script type="text/javascript" src="//use.typekit.net/dka5fzj.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		{% endblock %}
	</head>
	<body>
		{% block body %}

		<div class="container">
			{% block body_userbar %}

			<div class="userbar">
				<div class="userbar-inner">
					<div class="well well-dark well-small">
						<div class="pull-left">
							<span class="navtitle">Elliot Wright</span>
						</div>
						{# If a user is logged in #}
						{% if app.user %}

						<div class="pull-right">
							<button type="button" class="navbtn navbtn-primary pull-left">{{ app.user.username }}</button>
							<a href="{{ path('SeerUK_AccountLogout') }}" class="navbtn navbtn-primary pull-left">Sign Out</a>
						</div>

						{# If a user is anonymous #}
						{% else %}

						<div class="pull-right">
							<a href="{{ path('SeerUK_AccountLogin') }}" class="navbtn navbtn-primary pull-right">Sign In</a>
						</div>

						{% endif %}
					</div>
				</div>
			</div>

			{% endblock %}
			<div class="container-error"></div>
			<div class="content content-fixed">
				<div class="row-fluid">
					<div class="span3">
						<div class="mainbar">
							<div class="flip">
								<nav>
									<ul class="epic-list">
										{% for key, item in getPrimaryNavigation() %}
										<li class="hidden-phone">
											<a href="{{ url( item ) }}" class="ellipsis {% if item == app.request.attributes.get('_route') %}active{% endif %}">{{ key }}</a>
										</li>
										{% endfor %}
									</ul>
								</nav>
							</div>
							<br />
							<div class="clearfix visible-desktop">
								<blockquote class="pull-right thinner">
									<a target="_blank" href="http://seer79.deviantart.com/" title="DeviantART">
										<span class="desaturate pull-right sprite sprite-deviantart"></span>
									</a>
									<a target="_blank" href="https://www.facebook.com/wright.elliot" title="Facebook">
										<span class="desaturate pull-right sprite sprite-facebook"></span>
									</a>
									<a target="_blank" href="https://www.github.com/SeerUK?tab=activity" title="Github">
										<span class="desaturate pull-right sprite sprite-github"></span>
									</a>
									<a target="_blank" href="http://uk.linkedin.com/pub/elliot-wright/58/665/a19" title="LinkedIn">
										<span class="desaturate pull-right sprite sprite-linkedin"></span>
									</a>
									<a target="_blank" href="mailto:wright.elliot@gmail.com" title="Email">
										<span class="desaturate pull-right sprite sprite-mail"></span>
									</a>
								</blockquote>
							</div>
						</div>
					</div>
					{% block body_content %}

					{% endblock %}
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		{% endblock %}
		{# Include JavaScript #}
		<script src="{{ asset('static/js/js.php') }}" type="text/javascript" async="async"></script>
		{% block body_javascript %}{% endblock %}
	</body>
</html>
